@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

::selection {
  color: #130f40;
  background: #f9ca24;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ecf0f1;
  background-image: url(bg-image.jpg);
  background-size: cover;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 35px;
  border-radius: 15px;
  background-color: rgba(236, 240, 241, 0.8);
  box-shadow: 0 8px 25px 5px rgba(0, 0, 0, 0.3);
}

.quote-text {
  font-size: 2.3rem;
  font-weight: 400;
}

.long-quote {
  font-size: 1.8rem;
}

.fa-quote-left {
  font-size: 3.5rem;
  margin-right: 8px;
}

.quote-author {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 300;
  font-style: italic;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #333333;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.6);
  box-sizing: border-box;
}

button:hover {
  filter: brightness(120%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.6);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #f39c12; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media query : Tablet or smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 30px;
  }

  .quote-text {
    font-size: 2rem;
  }
}
